* {
  	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: HelveticaNeue-Light,Helvetica Neue,Helvetica,Arial,sans-serif;
}



header{
    	display: flex;
    	justify-content: center;
}

header img{
	width: 15vh;
	object-fit: cover;
}

p,
h1,
h2,
h3,
h4 {
  // Help prevent overflow of long words/names/URLs
  word-break: break-word;

  // Optional, not supported for all languages
  hyphens: auto;
  
  font-size: clamp(1rem, -0.875rem + 6.333vw, 1.5rem);
}

menu {
	display: flex;
	justify-content: space-evenly;
}

main {
  padding: 1rem;
  max-width: 80ch;
  margin: 0 auto;
  outline: 0.2px solid grey;

}

.section{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.section img{
	width: 25vh;
	outline: 1px solid grey;
}

